<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <style>
        .err{
            color: red;
        }
        .mm{
            color: green;
        }
        .sform{
            background-color: aqua;


        }




    </style>

    <meta charset="UTF-8">
    <title> Edit | Sagor</title>
</head>
<body>
<div layout:fragment="custom-content">

    <h3><i class="fa fa-ticket"></i> Edit university</h3>

    <!-- BASIC FORM VALIDATION -->
    <div class="row mt">
        <div class="col-lg-12">

            <div class="form-panel">

                <form role="form" class="form-horizontal style-form"  th:object="${university}" th:action="@{/university/edit/} + ${id}"  th:method="POST">


                    <div class="form-group has-success">
                        <label class="col-lg-2 control-label">University Name</label>
                        <div class="col-lg-10">
                            <span th:class="mm" th:text="${success}"></span>
                            <input type="text" placeholder="Enter Name" id="f-name" class="form-control"
                                   th:field="*{name}" required="true">
                        </div>
                    </div>


                    <div class="form-group has-success">
                        <label class="col-lg-2 control-label">Country</label>
                        <div class="col-lg-10">
                            <select th:field="*{country}" id="f-dtype" class="form-control">
                                <option th:each="t : ${countrylist}" th:value="${t.id}"><span th:text="${t.name}"></span></option>
                            </select>
                        </div>
                    </div>



                    <div class="form-group has-success">
                        <label class="col-lg-2 control-label">Address</label>
                        <div class="col-lg-10">
                            <input type="text" placeholder="Ex: 500mg, 100ml" id="f-dimension" class="form-control"
                                   th:field="*{address}" required="true">
                        </div>
                    </div>

                    <div class="form-group has-success">
                        <label class="col-lg-2 control-label">Mobile Number</label>
                        <div class="col-lg-10">
                            <input type="text" placeholder="Ex: Fever, Headache etc.." id="f-antidote" class="form-control"
                                   th:field="*{mobNo}" required="true">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-theme" type="submit">Submit</button>
                            <button class="btn btn-theme" type="reset">Reset</button>
                        </div>


                    </div>
                </form>
            </div>
            <!-- /form-panel -->
        </div>
        <!-- /col-lg-12 -->
    </div>


</div>
</body>
</html>