<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Team Page</title>
</head>
<body>
<div layout:fragment="cus-content">
<div class="container">
<h1>Add User</h1>
    <h2 th:text="${sucMsg}"></h2>
    <h2 th:text="${errMsg}"></h2>
    <form th:object="${user}" th:action="@{/user/add}" th:method="post">

        <div class="row">
            <div class="col-md-3">
                <label for="name">Name</label>
            </div>
            <div class="col-md-9">
               <input class="form-control" th:type="text" th:field="*{userName}" id="name" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label for="password">Password</label>
            </div>
            <div class="col-md-9">
                <input class="form-control" th:type="text" th:field="*{password}" id="password" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label for="mobile">Mobile</label>
            </div>
            <div class="col-md-9">
                <input class="form-control" th:type="text" th:field="*{mobile}" id="mobile" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <input th:type="submit" th:value="submit"/>
        </div>
        </div>
    </form>
</div>
</div>
</body>
</html>