<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout2.html}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="custom-content">
    <h3><i class="fa fa-ticket"></i> Client list</h3>
    <div class="row mb">
        <!-- page start-->
        <div class="content-panel">
            <div class="adv-table">
                <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered"
                       id="hidden-table-info">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Client_Name</th>
                        <th>Email</th>
                        <th>Account No</th>
                        <th>Gender</th>
                        <th>National Number</th>
                        <th>passport Number</th>
                        <th>Birth Date</th>
                        <th>Visa Type</th>
                        <th>Country Name </th>
                        <th>Agency</th>
                        <th>Branch</th>
                        <th>Photo</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gradeA" th:each="d : ${clientlist}">
                        <td th:text="${d.id}"></td>
                        <td th:text="${d.clientName}"></td>
                        <td th:text="${d.email}"></td>
                        <td th:text="${d.accountNo}"></td>
                        <td th:text="${d.gender}"></td>
                        <td th:text="${d.nid}"></td>
                        <td th:text="${d.passportNo}"></td>
                        <td th:text="${d.birthDate}"></td>
                        <td th:text="${d.visatype.typeName}"></td>
                        <td th:text="${d.country.name}"></td>
                        <td th:text="${d.agency.name}"></td>
                        <td th:text="${d.branch.name}"></td>
                        <td><img  th:src="@{${d.getFilePath()}}" width="100" height="100"/></td>


                        <td class="center"><a th:href="@{'/client/edit/' + ${d.id}}">
                            <button type="button" class="btn btn-round btn-success fa fa-edit"></button>
                        </a>
                            <a th:href="@{'/client/del/' + ${d.id}}">
                                <button type="button" class="btn btn-round btn-danger fa fa-times"></button>
                            </a>
                        </td>

                    </tr>


                    </tbody>
                </table>

            </div>
        </div>
        <!-- page end-->
    </div>
    <!-- /row -->


</div>
</body>
</html>